body {
   margin: 0;
}

.conteiner_1 {
   padding: 1px 20px 20px 20px;
   background-color: #595647;
   color: #fff;
   margin-bottom: 50px;
   font-family: sans-serif;
}

h1,
h3 {
   color: #95c6ff;
}

p {
   margin: 0;
}

.mymoods {
   display: flex;
   align-items: end;
}

.conteiner2 h1 {
   color: #000;
   text-align: center;
}

.conteiner2 {
   padding: 0 20px 20px;
}

.c--red {
   color: red;
}

.c--yellow {
   color: yellow;
}